# Entorno virtual
venv/
.venv/
env/
ENV/

# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Base de datos
*.sqlite3
*.db

# Variables de entorno
.env
*.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# Archivos de sistema
.DS_Store
Thumbs.db

# Logs
*.log
instance/